ul {
    width: 220px;
    min-height: 70px;
    list-style: none;
    padding: 0 0 1px;
    margin: 0;
    background-color: rgba($color: #444444, $alpha: 1.0);
}

li{
    background-color: rgba($color: #444444, $alpha: 1.0);
    &:hover{
        overflow: visible;
    }
    overflow: hidden;
    margin: 0px 8px 0 4px;
    height: 75px;
    header{
        display: flex;
        position: relative;
        border-bottom: 1px double rgba($color: #1a1a1a, $alpha: 1.0);
        &::before{
            border-bottom: 2px solid rgba($color: #4e4e4e, $alpha: 1.0);
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 1px;
        }
        .left{
            display: inline-block;
            margin: 10px 10px 10px 1px;
            color: rgba($color: #FFFFFF, $alpha: 1.0);
            i {
                padding: 10px;
                font-size: 30px;
                color: rgba($color: #FFFFFF, $alpha: 1.0);
                background-color: rgba($color: #282828, $alpha: 1.0);
                outline: 1px solid rgba($color: #1a1a1a, $alpha: 1.0);
                border: 1px solid rgba($color: #4e4e4e, $alpha: 1.0);
            }
        }
        .right{
            margin-top: 10px;
            display: inline-block;
            color: rgba($color: #FFFFFF, $alpha: 1.0);
            b{
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }
            span{
                display: inline-flex;
                cursor: pointer;
                u{
                    margin-left: 6px;
                }
            }
        }
    }
}